
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    background-color: #181818;
    transition: 
     color 0.5s,
     background-color 0.5s;
    line-height: 1.6;
    font-family: 
     Inter, 
     -apple-system,
      BlinkMacSystemFont,
       'Segoe UI',
        Roboto,
       Oxygen,
       Ubuntu,
        Cantarell,
      'Fira Sans',
     'Droid Sans',
      'Helvetica Neue',
     sans-serif;
 font-size: 15px;
 text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

li {
    list-style: none;
}

section {
    padding: 2rem;
    border-bottom: 1px solid #ccc;
    margin: 3rem 0rem 2rem 0rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

section h3 {
    color: rgb(231, 195, 141);
}