@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

body {
  background-color: #121212;         
  color: aliceblue; 
  margin: 0;
}


a{
    text-decoration: none;
}

@media (max-width: 768px) {
    #app {
        display: flex;
        flex-direction: column;
        font-size: small;
    }
}

@media (min-width: 1024px) {
    #app {
        display: flex;
        flex-direction: column;
        width: 80%;
    }   
}




